.home-intro-alt {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  @include relative;
  @include respond-to($screen-sm) {
    background: url('../../public/images/water1.jpg') no-repeat center center;
    background-size: cover;
  }
}

.home-intro-alt .intro-vibes {
  @include wh100;
  @include absolute($t:0, $l:0);
  margin-bottom: 0;
  .slick-list,
  .slick-track,
  .item {
    @include wh100;
  }
  @include respond-to($screen-sm) {
    display: none;
  }
}

.home-intro-alt .content {
  margin: auto;
  max-width: 1050px;
  @include relative;
}

.home-intro-alt .content-box {
  border-radius: 1px;
  background-color: rgba($white,0.9);
  box-shadow: 0 25px 50px rgba($black,0.3);
  text-align: center;
  transform: scaleY(0);
  @include transition(all $transition);
  .ready-2-roll & {
    @include animation(animation, scale-in-ver-top 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both);
  }
  @include respond-to($screen-tiny) {
    text-align: left;
  }
  header,
  main,
  footer {
    @include opacity(0);
    @include transition(all $transition);
    .ready-2-roll & {
      @include animation(animation, fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.6s both);
    }
  }
}

// .fade-in-fwd {
//   -webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
//   -moz-animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
//   animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
// }

// .fade-in-left {
//   -webkit-animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
//   -moz-animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
//   animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
// }


.home-intro-alt .content-box header {
  @include respond-to($screen-xxs) {
    text-align: left;
  }
  @include respond-to(500px) {
    text-align: center;
  }
  .mobile-img {
    display: none;
    @include respond-to($screen-xxs) {
      display: inline-block;
      float: right;
      margin-right: -45px;
      margin-left: 15px;
      margin-bottom: 15px;
    }
    @include respond-to(500px) {
      float: none;
      display: block;
      position: relative;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .whatido {
    font-weight: normal;
    .thing {
      &::after {
        content: ' / ';
      }
      &:last-child {
        &::after {
          content: '';
        }
      }
      @include respond-to($screen-xxs) {
        display: block;
        &::after {
          content: '';
        }
      }
    }
  }
  .myname {
    @include respond-to($screen-sm) {
      font-size: 4rem;
    }
    @include respond-to($screen-xxs) {
      display: none;
    }
  }
  .divider {
    @include spacing(500);
    font-size: 1.2rem;
  }
}

.home-intro-alt .content-box main {
  p {
    font: 400 1.15rem/1.9 $playfair;
    text-align: left;
    color: darken($text-color,20%);
    a {
      color: darken($text-color,20%);
      @include relative;
      white-space: nowrap;
      &::after{
        content: '';
        @include absolute($l:0,$t:100%);
        width: 100%;
        height: 2px;
        background: $purp;
        @include transition(height .2s cubic-bezier(0.250, 0.460, 0.450, 0.940));
      }
      &:hover {
        color: darken($text-color,40%);
        &::after{
          height: 6px;
        }
      }
    }
    &.lead {
      color: darken($text-color,40%);
      font-size: 1.6rem;
      line-height: 1.6;
      @include respond-to($screen-xs) {
        font-size: 1.4rem;
      }
    }
  }
}

.home-intro-alt .content-box footer {
  .connect-links {
    margin: 15px 0 0;
  }
}

.home-intro-alt  .offset-img {
  @include absolute($l:0, $b:0);
  width: 260px;
  @include opacity(0);
  @include transition(all $transition);
  @include respond-to($screen-xxs) {
    display: none;
  }
  .ready-2-roll & {
    @include animation(animation, fade-in-left 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.8s both);
  }
}

// .home-intro-alt  .work-link {
//   // @TODO this should be rotated w/ an arrow icon.
//   @include absolute($b: 30px, $r: 30px);
//   text-transform: uppercase;
//   padding: 2px 5px;
//   @include spacing(100);
//   font-size: .9rem;
//   color: $accent-color;
// }



/* LAYOUT PADDING */
.home-intro-alt {
  @include respond-to($screen-md) {
    padding: 0 30px 15px;
  }
  @include respond-to($screen-xs) {
    padding: 0 15px 15px;
  }
  @include respond-to($screen-xxs) {
    padding: 0;
  }
}

.home-intro-alt .content {
  padding: 30px 0 75px 75px;
  @include respond-to($screen-md) {
    padding: 30px 0 105px 75px;
  }
  @include respond-to($screen-sm) {
    padding: 30px 0 200px 75px;
  }
  @include respond-to($screen-xs) {
    padding: 15px 15px 225px;
  }
  @include respond-to($screen-xxs) {
    padding: 15px;
  }
}

.home-intro-alt .content-box {
  padding: 60px 0;
  @include respond-to($screen-sm) {
    padding: 45px 0;
  }
  @include respond-to($screen-xs) {
    padding: 15px 0 45px;
  }
}

.home-intro-alt .content-box header {
  padding: 0 45px;
  @include respond-to($screen-sm) {
    padding: 0 30px;
    border-right-width: 30px;
    border-left-width: 30px;
  }
  @include respond-to($screen-xxs) {
    padding: 0 30px;
  }
  @include respond-to($screen-tiny) {
    padding: 0 15px;
  }
}

.home-intro-alt .content-box main {
  padding: 0 90px;
  @include respond-to($screen-md) {
    padding: 0 60px;
  }
  @include respond-to($screen-sm) {
    padding: 0 45px;
  }
  @include respond-to($screen-xs) {
    padding: 0 30px;
  }
  @include respond-to($screen-tiny) {
    padding: 0 15px;
  }
}


.home-intro-alt .content-box footer {
  padding: 30px 15px 0;
  @include respond-to($screen-xs) {
    padding: 0 15px;
  }
}






