

@keyframes color-change-2x {
  0% {
    background: #19dcea;
  }
  100% {
    background: #b22cff;
  }
}


@keyframes blob-bg {
  0% {
    @include translate(0,0);
    fill: red;
  }
  5% {
    fill: orange;
  }
  10% {
    @include translate(3%,-10%);
    fill: yellow;
  }
  20% {
    @include transform(scale(1.2));
    fill: yellow;
  }
  25% {
    fill: lime;
  }
  30% {
    @include opacity(0.7);
    fill: green;
  }
  35% {
    fill: blue;
  }
  40% {
    @include translate(7%,-2%);
    fill: purple;
  }
  45% {
    fill: magenta;
  }
  50% {
    @include translate(8%,2%);
    @include transform(scale(1.1));
    fill: aqua;
  }
  55% {
    fill: white;
  }
  60% {
    @include translate(5%,5%);
    fill: red;
  }
  65% {
    fill: orange;
  }
  70% {
    @include translate(0,8%);
    @include transform(scale(0.8));
    fill: yellow;
  }
  75% {
    fill: green;
  }
  80% {
    @include translate(-3%,7%);
    fill: lime;
  }
  85% {
    fill: blue;
  }
  90% {
    @include translate(-2%,11%);
    fill: magenta;
  }
  95% {
    fill: purple;
  }
  100% {
    @include translate(-3%,8%);
    @include transform(scale(1));
    fill: white;
  }
}

@keyframes blob-front {
  0%    { @include transform(scale(1)); }
  25%   { @include transform(translate(4%,-4%)); }
  50%   {
    @include transform(translate(0%,1%));
    @include opacity(0.7);
  }
  75%   { @include transform(translate(-4%,4%));}
  100%  {
    @include transform(scale(1.01));
    @include transform(translate(0%,0%));
    @include opacity(1);
  }
}


.svg-wrapper {
  overflow: hidden;
  @include relative;
  @include opacity(0.2);
  height: 100%;
  @include animation(animation, color-change-2x 20s linear infinite alternate both);
  svg {
    width: 150%;
    height: 150%;
    @include center;
    #Foam {
      @include animation(animation, blob-bg 200s linear infinite alternate both);
    }
    #Water {
      @include animation(animation, blob-front 40s linear infinite alternate both);
    }
  }
}
